body{
	background-color: lightblue;
	font: 18px magenta;
	font-family: sans-serif;
  padding: 0.2em;
	border: none;
}


div#menu{
	position: fixed;
	right: 0.2em;
	top: 2em;
	width: 200px;
	font-size: 18px; 
	text-align: left; 
	font-weight: bold;
	text-decoration: none; 
	color:rgb(0,0,128);
}

div#menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

div#menu ul li {
	text-align: center;
	padding: 0.5em 0.5em;
/*	border-bottom: 1px solid #484870; */
}

div#menu li ul li {
	display: none;
}

div#main{
	position: absolute;
	left: 0.5em;
	top: 0em;
	right: 200px;
	border: none;
	padding: 0.5em;
}

H1{
  font-size: 26pt;
  margin: 0.5em 0.1em;
  text-align:left;
  padding: 0.0em;
  color:rgb(39, 16, 95);
  page-break-before:auto;
}

p{font-size: 14px; 
  /*color: rgb(0,0,72);*/
}


A{text-decoration: none; color:rgb(0,0,128);}
A:hover   {text-decoration: underline}

A#menu{
	font-size: 16px; 
	text-align: center; 
	font-weight: bold;
}

div#main ol{font-size: 14pt;}
div#main ul{font-size: 14pt; list-style: disc url("Graphics/blueBall.png");}
div#main ul ul{font-size: 12pt;}
div#main ol ul{font-size: 12pt; padding-bottom:1.5em; }
