<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="utf8">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/jsxgraph/distrib/jsxgraphcore.js"></script>
    
    <title>Funkcja kwadratowa</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jsxgraph/distrib/jsxgraph.css" />
    </HEAD>
<body>
<div id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="{{url_for('hello')}}">Strona główna</a>
        <li><a href="{{url_for('wprowadzenie')}}">Wprowadzenie</a>
        <li><a href="{{url_for('postaci_funkcji')}}">Różne postaci funkcji kwadratowej</a>
        <li><a href="{{url_for('miejsca')}}">Miejsca zerowe i wierzchołki</a>
    </ul>
</div> 
<div id="main">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>

